*{
    /* background-color: gray; */
}

h1{
    color: red;
}

h2{
    color: aqua;
}

p{
    color: brown;
}

.Selector > h1,
.Selector > h2,
.Selector > h3,
.Selector > h4{
    color: hotpink;
}

#Box > h2{
    color: yellow;
}