*{
    /* background-color: gray; */
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1{
    /* color: #ff00cc; */
    /* background-color: black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;
    font-weight: 900;
    line-height: .7;
    letter-spacing: 1px;
}

h2{
    /* color: aqua; */
    /* background-color: black; */
}

h3{
    /* background-color: gray; */
}
/* 
p{
    color: brown;
    background-image: url(./Assets/360_F_389390965_lwqVX10TBdFH2WMBH6GGF8pcNiOhzfnb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.Selector > h1,
.Selector > h2,
.Selector > h3,
.Selector > h4{
    /* color: hotpink; */
}

#Box > h2{
    color: yellow;
}

.container{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-top: 30px;
    padding-left: 50px; */
    padding: 20px 40px 60px 80px;
    /* border-left: 10px solid black;
    border-bottom: 20px solid greenyellow; */
    border: 20px solid black;
    /* margin-top: 100px;
    margin-left: 200px; */
    margin: 30px 50px 70px 90px;
}

#Number > h4,
#Number > h2,
#Number > h3{
    color: yellow;
}

h2{
    background-color: green;
}

.bluebox{
    width: 300px;
    height: 300px;
    background-color: blue;
    /* position: relative; */
    /* top: 50px; */
    margin-top: 50px;
    position: sticky;
    top: 0;
}

.pinkbox{
    width: 100px;
    height: 100px;
    background-color: hotpink;
    /* position: fixed; */
    /* left: 50px; */
    /* top: 30px; */
}