*{
    /* background-color: gray; */
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1{
    /* color: #ff00cc; */
    /* background-color: black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;
    font-weight: 900;
    line-height: .7;
    letter-spacing: 1px;
}

h2{
    /* color: aqua; */
    /* background-color: black; */
}

h3{
    /* background-color: gray; */
}
/* 
p{
    color: brown;
    background-image: url(./Assets/360_F_389390965_lwqVX10TBdFH2WMBH6GGF8pcNiOhzfnb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.Selector > h1,
.Selector > h2,
.Selector > h3,
.Selector > h4{
    /* color: hotpink; */
}

#Box > h2{
    color: yellow;
}

.container{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-top: 30px;
    padding-left: 50px; */
    padding: 20px 40px 60px 80px;
    /* border-left: 10px solid black;
    border-bottom: 20px solid greenyellow; */
    border: 20px solid black;
    /* margin-top: 100px;
    margin-left: 200px; */
    margin: 30px 50px 70px 90px;
}

#Number > h4,
#Number > h2,
#Number > h3{
    color: yellow;
}

h2{
    background-color: green;
}

.bluebox{
    width: 300px;
    height: 300px;
    background-color: blue;
    /* position: relative; */
    /* top: 50px; */
    margin-top: 50px;
    /* position: sticky; */
    top: 0;
}

.pinkbox{
    width: 100px;
    height: 100px;
    background-color: hotpink;
    position: absolute;
    /* left: 50px; */
    top: 30px;
}

.box1{
    width: 200px;
    height: 100px;
    background-color: green;
    /* flex: 1; */
    order: 2;
}

.box2{
    width: 200px;
    height: 100px;
    background-color: blue;
    /* flex: 1; */
    order: 3;
}

.box3{
    width: 200px;
    height: 100px;
    background-color: yellow;
    /* flex: 1; */
    order: 1;
}

.box4{
    width: 200px;
    height: 100px;
    background-color: red;
}

.box5{
    width: 200px;
    height: 100px;
    background-color: violet;
}

.box6{
    width: 200px;
    height: 100px;
    background-color: green;
}

.box7{
    width: 200px;
    height: 100px;
    background-color: blue;
}

.box8{
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.box9{
    width: 200px;
    height: 100px;
    background-color: red;
}

.box10{
    width: 200px;
    height: 100px;
    background-color: violet;
}

/* .Container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* height: 500px; */
    /* border: 5px solid black; */
    /* align-items: start; */
    /* gap: 10px; */
    /* flex-wrap: wrap; */
    /* align-content: start;
} */ 

.Container{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    /* grid-template-rows: 200px 70% 1fr; */
}

.para{
    padding: 20px;
    background-color: steelblue;
    color: white;
}

.items{
    background-color: green;
    color: white;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.outerbox{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: 200px 400px 200px; */
    gap: 10px;
}

.item1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}

.item2{
    grid-row: span 3;
}

.layout > div{
    border: 1px solid black;
    background-color: #ebabac;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "h h h h"
    "sb1 m m sb2"
    "f f f f";    
}

.header{
    grid-area: h;
}

.footer{
    grid-area: f    ;
}

.sidebar1{
    grid-area: sb1;
}

.sidebar2{
    grid-area: sb2;
}

.main{
    grid-area: m;
}